<div class="spaceblock">
    <br>
</div>

<div class="container">
    <div *ngIf="!this.newEmpleado">
        <mat-toolbar class="mat-elevation-z8" color="primary">
            <span>Empleados</span>
            <a class="spacer"></a>
            <a mat-raised-button color="accent" (click)="this.newEmpleado = true">Agregar</a>
        </mat-toolbar>

        <div *ngIf="empleados.length > 0" class="mat-elevation-z8" style="margin-top: 10px;">
            <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="apellidoP">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellidoP}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="apellidoM">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellidoM}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            <a class="pointer" (click)="deleteEmpleado(element.id)" style="color: #e15639;"
                                matTooltip="Eliminar Usuario">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
            </div>
        </div>
        <h2 *ngIf="empleados.length == 0">No hay empleados para mostrar</h2>
    </div>

    <div class="mat-elevation-z8" *ngIf="this.newEmpleado">
        <mat-toolbar color="primary">
            <span>Agregar Empleado</span>
        </mat-toolbar>

        <mat-card>
            <form [formGroup]="form" (ngSubmit)="agregarEmpleado()">
                <mat-grid-list cols="5" rowHeight="70px">
                    <mat-grid-tile [colspan]="5" [rowspan]="1" [style.background]="'gray'">
                        Ingrese los datos siguientes
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="5"></mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput autocomplete="off" formControlName="Nombre">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput autocomplete="off" formControlName="ApellidoP">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput autocomplete="off" formControlName="ApellidoM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Rfid</mat-label>
                            <input matInput autocomplete="off" formControlName="Rfid">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <button mat-raised-button (click)="this.newEmpleado = false">Volver</button>
                        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
                            Aceptar
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>

            </form>

        </mat-card>
    </div>
</div>
